* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    list-style: none;
    scroll-behavior: smooth;
    border: none;
}
body {
    width: 100%;
    background-color: #f4f4f4;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* global styling */
.section {
    width: 100%;
    padding: 16px 40px 64px;
    max-width: 1300px;
}
h1 {
    font-size: 36px;
}
.figure,
h2 {
    font-size: 24px;
    font-weight: 600;
}
.primary-btn {
    color: #000;
    background: #ffffff;
    border: 1px solid #007bff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.secondary-btn {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.primary-btn:hover {
    background-color: #e0e0e0;
}
.secondary-btn:hover {
    background-color: #0056b3;
}

/* header styling */
header {
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.logo {
    width: 80px;
}
.navlinks {
    display: flex;
    gap: 20px;
}
.dropdown-container {
    position: relative;
}
.dropdown {
    width: fit-content;
    display: none;
    position: absolute;
    top: 24px;
    right: 0;
    padding: 20px 40px;
    background-color: #ffffff;
    text-align: left;
    z-index: 1000;
}
.dropMenu-head {
    display: flex;
    align-items: center;
}
.dropdown li {
    padding: 10px 26px 10px 0;
}
li:hover > .dropdown {
    display: block;
}
.user {
    display: none;
}
.ri-user-fill {
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 50%;
    /* width: 5px; */
}
.user .dropdown li {
    padding: 10px;
}
.user .primary-btn,
.user .secondary-btn {
    width: 90px;
}
.menu-toggle {
    font-size: 24px;
    font-weight: 600;
    display: none;
    cursor: pointer;
}



/* hero styling */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.hero-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.revitalize {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 14px;
    color: #007bff;
    font-weight: bold;
    text-transform: uppercase;
}
.hero-content h1 span {
    color: #007bff;
}
.hero-btn {
    display: flex;
    gap: 16px;
}
.facts {
    display: flex;
    gap: 16px;
}
.facts-div {
    padding-left: 16px;
    border-left: 2px solid #dad8d8;
}
.hero-image {
    max-width: 400px;
    position: relative;
}
.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.doctor {
    width: 200px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 3px #d4d2d2;
    border-radius: 10px;
    position: absolute;
    top: 52%;
    left: -10%;
}
.first-p {
    font-size: 16px;
    font-weight: 600;
}
hr {
    margin: 10px 0;
    border: 1px solid #ebe9e9;
}
.doctor-div {
    display: flex;
}
.ri-earth-fill {
    font-size: 22px;
    display: inline-block;
    margin-right: 8px;
    color: #ffffff;
    background-color: #007bff;
    padding: 4px 8px;
    border-radius: 50%;
}
.doctor-name {
    font-size: 14px;
    font-weight: 550;
}
.doctor-branch {
    font-size: 12px;
}

/* offer stlying  */
.offer-section {
    background-color: #ffffff;
}
.offer-header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 16px;
    gap:40px
}
.offer-header-left {
    max-width: 440px;
}
.offer-header-right {
    width: fit-content;
    text-align: right;
}
.figure {
    color: #007bff;
}
.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.revolutionary {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #e5effa;
    font-size: 14px;
    color: #007bff;
    font-weight: bold;
    text-transform: uppercase;
}

/* discover styling */
.discover {
    text-align: center;
    padding-bottom: 20px;
    background-color: #ffffff;
}
.discover-grid-container {
    background-color: #ffffff;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-card {
    padding: 16px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 4px #e3e2e2;
}
#first-child {
    background-color: #007bff;
}
#first-child h3,
#first-child p {
    color: #f4f4f4;
}
#first-child 
.ri-hospital-line{
    color: #007bff;
    background-color: #f4f4f4;
}
.ri-hospital-line {
    width:fit-content;
    display: block;
    border-radius: 50%;
    margin-bottom: 16px;
    padding: 10px 14px;
    color: #ffffff;
    background-color: #007bff;
}

/* service styling */
.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    background-color: #ffffff;
}

/* Frequently asked question */
.frequent-question {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.f-q-left {
    width: 300px;
}
.f-q-right {
    width: 80%;
    max-width: 600px;
}
details {
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #d4d2d2;
}
ul {
    margin-left: 16px;
}

summary {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-right: 20px;      /* give space for arrow on right */
}

/* Custom arrow using ::after */
summary::after {
    content: "▶";             /* right-pointing arrow */
    position: absolute;
    right: 0;
    top: 0;
}

/* When open, show down arrow */
details[open] summary::after {
    content: "▼";
}

/* subscribe to newsletter */
.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1b3362;
    background-color: #0f1d39;
    padding-bottom: 16px;
}
.subscribe-btn {
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 18px;
    display: flex;
    align-items: center;
}
.newsletter-title {
    color:#ffffff;
    font-size: 14px;
    font-weight: 600;
}
.newsletter-details {
    color: #ffffff;
    font-size: 12px;
}
input {
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 12px;
}
.submit-btn {
    color: #ffffff;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: #007bff;
}

/* footer styling */
.footer {
    background-color: #0f1d39;
    padding-bottom: 16px;
    border-bottom: 1px solid #1b3362;
}
.footer-first-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.footer-grid-item {
    margin-bottom: 20px;
}
.footer-head {
    color: #ffffff;
}
.footer-details {
    color: #a1a9bb;
    font-size: 14px;
}
.footer-second-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f1d39;
    padding-bottom: 16px;
}
.footer-second-child div {
    display: flex;
    gap: 20px;
    padding: 16px 40px;
}

/* responsive styling */
@media (max-width: 1024px) {
    .section {
        padding: 16px 20px 64px;
    }
    h1 {
        font-size: 31px;
    }
    .auth-buttons {
        display: none;
    }
    .user {
        display: unset;
    }
    .hero-image {
        max-width: 350px;
    }
    .doctor {
        left: 5%;
    }
    .hero-content {
        max-width: 400px;
    }
    .f-q-right {
        max-width: 450px;
    }
    .footer {
        padding: 16px;
    }
    .footer-second-child {
        padding: 16px;
    }
    .footer-first-child {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 980px){
    .discover-grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 22px;
    }
    .menu-toggle {
        display: block;
    }
    .navlinks {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 74px;
        right: 0px;
        width: 100%;
        height: 70vh;
        padding: 20px 0 20px 40px;
        z-index: 1;
    }
    .navlinks.active {
        display: flex;
    }
    .dropdown {
        width: 100%;
    }
    .user .dropdown {
        width: unset;
        right: 0;
    }
    .frequent-question,
    .services,
    .offer,
    .hero {
        flex-direction: column;
    }
    .hero-image,
    .hero-content {
        max-width: unset;
    }
    .hero-btn {
        margin-bottom: 24px;
    }
    .discover-grid-container {
       grid-template-columns: 1fr;
    }
    .f-q-right {
        width: unset;
        max-width: unset;
    }
   
}

@media (max-width: 630px) {
    .facts-div {
        padding-left: 8px;
    }
    .subscribe {
        flex-direction: column;
        text-align: center;
    }
    .subscribe-btn {
        margin-top: 32px;
    }
    .footer-second-child {
        flex-direction: column;
    }
    .footer-details {
        order: 2;
    }
}

@media (max-width: 520px) {
    .footer-first-child {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px) {
    .footer-second-child div {
        flex-wrap: wrap;
        justify-content: center;
    }
}